.bigcontainer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    width: 100vw; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: top;
    align-content: left;
    width: 20vw;
    height: auto;
    margin-left: 3vw;
    margin-right: 1vw;
    margin-top: 5px;
    border: 1px solid green;
    border-radius: 5px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 1%;
    width: 20vw;
    box-sizing: border-box;
    font-weight: 600;
    color: SteelBlue;

}

.question {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: top;
    height: 20vh;
    color: red;
    font-weight: 600;
    text-align: left;
    box-sizing: border-box;
    margin: 5px;
    font-size: 1.2vw;
}
.answer {
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    text-align: left;
    height: 10vh;
    margin: 5px;
    font-size: 1.5vw;
}

.active {
    background-color: #00FF00;
}

.parag {
    font-size: 1.5vw;
}